#{extends 'Application/index.html' /}
#{set 'body'}

<script>
    $(function() {
        //Set Navbar Menu Selections
        $(".navbar-collapse .nav li").removeClass("active");
        $(".navbar-collapse .nav .dial").addClass("active");
    });
</script>


<div class="page-header">
    <h1>Dial</h1>
</div>
<p class="lead">
    Please enter your phone number to receive a call from this app to listen to the Fizz Buzz Rap!
</p>

<form id="callme" class="form-inline" method="POST">
    <div class="form-group">
        <input type="tel" class="form-control input-xlarge" id="phone" placeholder="Enter Phone #" style="width:300px;">
        <button type="submit" class="btn btn-primary">Call Me!</button>
    </div>
</form>

<br>
<br>
<br>

<script>
    $(function() {
        $('#callme').bind('submit', function(event){
            event.preventDefault();
            var str = jQuery.trim($('#phone').val());
            console.log("Submitting Form")
            $.ajax( {
                url: '@{Application.callMe()}',
                type:'POST',
                data: {
                    phone : str
                },
                success: function(data) {

                },
                error: function(jqXHR, textStatus, errorThrown) {

                }
            });
        });
    });
</script>
#{/set}}
