<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/public/javascripts/jquery.min.js"></script>
    <link href="/public/javascripts/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/public/javascripts/bootstrap-3.2.0-dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/public/javascripts/bootstrap-3.2.0-dist/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/public/stylesheets/main.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Twil Buzz App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="simple active"><a href="/playfizz">Simple TwiML</a></li>
                    <li class="dial"><a href="/dial">Dial PhoneBuzz</a></li>
                    <li class="delay"><a href="/delay">Delayed PhoneBuzz (with Tracking)</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
</div> <!-- /container -->

<!-- Begin page content -->
<div class="container">
    #{get 'body'/}
</div>


<!-- Bootstrap core JavaScript -->
<script src="/public/javascripts/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
<script src="/public/javascripts/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/dataTables.bootstrap.js"></script>
<script src="/public/javascripts/dataTables.plugins.js"></script>
</body>
</html>

