#{extends 'Application/index.html' /}
#{set 'body'}

<script>
    $(function() {
        //Set Navbar Menu Selections
        $(".navbar-collapse .nav li").removeClass("active");
        $(".navbar-collapse .nav .dial").addClass("active");
    });
</script>


<div class="page-header">
    <h1>Dial</h1>
</div>
<p class="lead">
    Please enter your phone number to receive a call from this app to listen to the Fizz Buzz Rap!
</p>

<form id="callme" class="form-inline" method="POST">
    <div class="form-group">
        <input type="tel" class="form-control input-xlarge" id="phone"  required="true" placeholder="Enter Phone #" style="width:300px;">
        <button type="submit" class="btn btn-primary call-btn">Call Me!</button>
        <img id="progressLoader" src="/public/images/loader.gif" style="display:none;">
    </div>
</form>

<br>

<div class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
    <span id="error_msg"></span>
</div>

<div class="alert alert-success alert-dismissible" role="alert" style="display:none;">
    <span id="success_msg"></span>
</div>

<script>
    $(function() {

        $('#callme').bind('submit', function(event) {
            $('.alert-success').hide();
            $('.alert-danger').hide();
            event.preventDefault();
            var str = jQuery.trim($('#phone').val());
            $.ajax( {
                url: '@{Application.callMeNow()}',
                type:'POST',
                data: {
                    phone : str
                },
                beforeSend: function(){
                    $("#progressLoader").show();
                    $('.call-btn').attr('disabled', true);
                },
                success: function(data) {
                    console.log (data);
                    if (data.status == '200') {
                        $('#success_msg').text(data.message);
                        $('.alert-success').show();
                    } else {
                        $('#error_msg').text(data.message);
                        $('.alert-danger').show();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            }).done(function () {
                $('.call-btn').attr('disabled', false);
                $("#progressLoader").hide();
            });

        });
    });
</script>
#{/set}}
